@charset "utf-8";
/* CSS Document */
html
{
  position: relative;
  min-height: 100%;
}

/* Body */
body
{
  /* Margin for footer */
  margin-bottom: 200px;
}

/* Navbar */
.myNav
{
  background-color: #4F2984;
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.6)
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #FFDD00
}
.navbar-toggler
{
  background: 0 0;
}

/* Jumbotron for FAQ */
.container.jumbo-container
{
  text-align: center;
  margin-top: -1%;
  margin-bottom: -4%
}
.jumbotron.FAQ-jumbotron
{
  background: none;
}

/* Accordion */
.container.accordion-container
{
  margin-bottom: 16rem;
}
.card-header
{
  text-align: center;
  background-color: #4F2984;
  cursor: pointer;
}
.card-header a
{
  color: white;
  text-decoration: none;
}

/* Footer */
.footer
{
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set fixed height */
  height: 200px;
  background-color: #323232;
}
.footer a
{
  color: white;
}
.container.footer-container
{
  margin-top: 18.5px;
}
.list-group.linksGroup
{
  margin-top: 2%;
}
.list-group.links2Group
{
  margin-top: 2%;
}
